@charset "utf-8";


a:link {
    color: #001A66;
    text-decoration: underline;
}
a:visited {
    color: #001A66;
    text-decoration: underline;
}
a:hover {
    color: #001A66;
    text-decoration: underline;
}
a:active {
    color: #001A66;
    text-decoration: none;
}